<table border="1" cellpadding="40">
	<tr> <!-- row 0 (top) -->
		<td data-x="0" data-y="0"></td>
		<td data-x="1" data-y="0"></td>
		<td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
	</tr>
	<tr> <!-- row 1 -->
		<td data-x="0" data-y="1"></td>
		<td data-x="1" data-y="1"></td>
		<td data-x="2" data-y="1"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
	</tr>
	<tr> <!-- row 2 -->
		<td data-x="0" data-y="2"></td>
		<td data-x="1" data-y="2"></td>
		<td data-x="2" data-y="2"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
	</tr>
  <tr> <!-- row 3 -->
		<td data-x="0" data-y="0"></td>
		<td data-x="1" data-y="0"></td>
		<td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
	</tr>
  <tr> <!-- row 4 -->
		<td data-x="0" data-y="0"></td>
		<td data-x="1" data-y="0"></td>
		<td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
	</tr>
  <tr> <!-- row 5 -->
		<td data-x="0" data-y="0"></td>
		<td data-x="1" data-y="0"></td>
		<td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
	</tr>
  <tr> <!-- row 6 -->
		<td data-x="0" data-y="0"></td>
		<td data-x="1" data-y="0"></td>
		<td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
	</tr>
  <tr> <!-- row 7 -->
		<td data-x="0" data-y="0"></td>
		<td data-x="1" data-y="0"></td>
		<td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
	</tr>
</table>
